body{
font-family: Arial;
background:#e8f0ff;
text-align:center;
}

.container{
background:white;
width:350px;
margin:auto;
margin-top:100px;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

input{
padding:8px;
width:70%;
}

button{
padding:8px;
margin-left:5px;
cursor:pointer;
}

#weatherResult{
margin-top:20px;
font-size:18px;
}

li{
cursor:pointer;
color:blue;
margin:5px;
}